@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Monaco';
  background: linear-gradient(to right, #fec5b7, #FFFBC9);
  min-height: 100vh;
  background-attachment: fixed;
  background-size: cover;
}

html {
  scroll-snap-type: y mandatory;
}

.image-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.image-text {
  margin-top: 0.5rem;
  font-size: 1.125rem;
  color: #4b5563;
  text-align: center;
}

.circular-button {
  --translate-x: 0px;
  --translate-y: 0px;
  --button-size: 16rem;
  --width: 100%;
  --height: 100%;
  width: var(--button-size);
  height: var(--button-size);
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f3f4f6;
  border: 4px solid #d1d5db;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out, opacity 0.2s ease-in-out;
}

.circular-button img {
  width: var(--width);
  height: var(--height);
  object-fit: cover;
  transform: translate(var(--translate-x), var(--translate-y));
}

.circular-button:hover {
  transform: scale(1.05);
  opacity: 0.9;
}

.custom-button {
  background-color: #99ccff;
  color: white;
  border-radius: 9999px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  font-weight: 500;
  transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  border: none;
  cursor: pointer;
}

.custom-button:hover {
  background-color: #80B5E0;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.15);
}

.title-class {
  font-size: 2rem;
  /* Adjust font size */
}

.grid-container {
  display: grid;
  grid-template-columns: auto 1fr;
  /* The image takes the size of its content, and the text takes the remaining space */
  align-items: center;
  /* Vertically center content */
}

.main-image {
  width: 300px;
  /* Set image width */
  height: auto;
  margin-right: 30px;
  /* Adjust distance from the text */
}

.title-class {
  font-size: 2rem;
  font-weight: bold;
  text-align: left;
}