@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    padding: 0;
    font-family: serif;
    background: linear-gradient(to right, #fec5b7, #FFFBC9);
    min-height: 100vh;
  }  

.image-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.image-text {
  margin-top: 0.5rem;
  font-size: 1.125rem;
  color: #4b5563;
  text-align: center;
}

.circular-button {
  --translate-x: 0px;
  --translate-y: 0px;
  --button-size: 16rem;
  --width: 100%;
  --height: 100%;
  width: var(--button-size);
  height: var(--button-size);
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f3f4f6;
  border: 4px solid #d1d5db;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: opacity 0.2s ease-in-out;
}

.circular-button img {
  width: var(--width);
  height: var(--height);
  object-fit: cover;
  transform: translate(var(--translate-x), var(--translate-y));
}

.circular-button:hover {
  opacity: 0.9;
}

.custom-button {
  background-color: #99ccff;
  color: white;
  border-radius: 9999px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  font-weight: 500;
  transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  border: none;
  cursor: pointer;
}

.custom-button:hover {
  background-color: #80B5E0;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.15);
}